.list-group-item {
    padding: 5px;
}

.toolbar-header {
    padding: 5px;
}

.btn-reg, .btn-reg-con {
    height: 30px;
}

.btn-reg, .btn-reg:active {
    width: 15%;
    font-size: 13px;
}

/* Register values */
.btn-reg-con, .btn-reg-con:active {
    width: 85%;
    font-size: 14px;
}

.btn-flag, .btn-flag-con {
    font-size: 15px;
}

.btn-rep {
    background-color: white;
    font-size: 15px;
}

.btn-rep-enabled {
    background-color: darkgray;
}

.btn-view {
    width: 33.3%;
}

#editor, #dashboard {
    overflow: hidden;
}

#viewer {
    overflow: scroll;
    height: 100%;
    padding-bottom: 50px; /* Allow scrolling slightly beyond the end */
}

.invisible {
    display: none;
}

.btn-byte-active {
    background-color: darkgray;
}

.th-mem {
    background-color: darkgray;
    color: white;
}

#dashboard {
    min-width: 400px;
    max-width: 400px;
}